<template>
    <info-box v-if="scenarios_loaded && items" :id="id">
        <h4 class="info-box-heading">{{ title }}</h4>
        <slot :content="items">
            <ul :id="`${id}-list`">
                <li v-for="item in items" :key="item.title">
                    {{ item.title }} - {{ item.content }}
                </li>
            </ul>
        </slot>
    </info-box>
</template>

<script>
import InfoBox from "../Base/InfoBox.vue";

import EventBus from "../../EventBus";

export default {
    name: "ScenarioInfoBox",
    components: { InfoBox },
    props: {
        id: { type: String, required: true },
        title: { type: String, required: true },
        items: { type: [Array, null], default: null },
        kind: {
            type: String,
            required: true,
            validator(prop) {
                return ["info", "meta"].includes(prop);
            },
        },
    },
    data() {
        return {
            scenarios_loaded: false,
        };
    },
    mounted() {
        EventBus.$on("scenarios-loaded", scenarios => {
            this.scenarios_loaded = true;
        });
        EventBus.$on("slider-changed", ({ scenario, dikeScenario }) => {
            this.$emit("update", { scenario, dikeScenario });
        });
        EventBus.$on("checkbox-updated", ({ scenario, dikeScenario }) => {
            this.$emit("update", { scenario, dikeScenario });
        });
    },
};
</script>
