<template>
    <div :style="computedStyle">
        <label :for="id" :style="labelStyle">
            <input
                :id="id"
                v-model="checked"
                type="checkbox"
                :disabled="disabled"
                @change="onChange"
            />
            {{ caption }}
        </label>
    </div>
</template>

<script>
export default {
    name: "Checkbox",
    props: {
        id: { type: String, required: true },
        caption: { type: String, required: true },
        styling: {
            type: Object,
            default() {
                return {};
            },
        },
        labelStyle: {
            type: Object,
            default() {
                return {};
            },
        },
    },
    data() {
        return {
            checked: true,
            disabled: false,
            updateStyle: {},
        };
    },
    computed: {
        computedStyle() {
            return { ...this.styling, ...this.updateStyle };
        },
    },
    mounted() {
        window.checkbox = this;
    },
    methods: {
        onChange() {
            this.$emit("update", this);
        },
    },
};
</script>

<style></style>
