<template>
    <div :id="id" class="info">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        id: { type: String, required: true },
    },
};
</script>

<style>
.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: width 500ms;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
@media (min-width: 992px) {
    .info {
        width: 450px;
    }
}
@media (max-width: 991px) {
    .info {
        width: 380px;
    }
}
</style>
