<template>
    <div :id="id" ref="mapContainer" class="sidebar-map sealevel2100-map">
        <slot v-if="ready" :map-object="LMap"></slot>
    </div>
</template>

<script>
import { tileLayer, map } from "leaflet";
import Vue from "vue";

import EventBus from "../../EventBus";

export default {
    name: "TheLMap",
    props: {
        id: { type: String, required: true },
        mapOptions: {
            type: Object,
            default() {
                return {
                    center: [54.064, 10.33],
                    zoom: 8,
                    maxBounds: [
                        { lat: 52.51, lng: 6.13 },
                        { lat: 55.563, lng: 14.529 },
                    ],
                    minZoom: 8,
                };
            },
        },
        tileLayerUrl: {
            type: String,
            default: "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
        },
        tileLayerOptions: {
            type: Object,
            default() {
                return {
                    attribution:
                        'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                    maxZoom: 18,
                };
            },
        },
    },
    data() {
        return {
            ready: false,
        };
    },
    mounted() {
        this.LMap = map(this.$refs.mapContainer, this.mapOptions);
        this.LTileLayer = tileLayer(this.tileLayerUrl, this.tileLayerOptions);
        Vue.nonreactive(this.LMap);
        Vue.nonreactive(this.LTileLayer);
        this.LTileLayer.addTo(this.LMap);
        this.$nextTick(() => {
            EventBus.$emit("map-created", this.LMap);
            this.ready = true;
        });
    },
    beforeDestroy() {
        this.LMap.remove();
        this.LTileLayer.remove();
    },
};
</script>

<style>
.sealevel2100-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
